/* Header styles */

header section {
  min-height: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
}

.icon-menu {
  font-size: 300%;
}

.header-nav {
  background-color: rgba(35, 35, 35, 1); /* dark gray */
}

.header-nav ul {
  display: none;
  list-style: none;
}

.header-nav:hover ul {
  display: block;
  font-size: 200%;
}

.template {
  display: none;
}

/* Filter styles */

select {
  width: 100%;
  font-family: 'Kaushan Script', cursive;
  font-size: 200%;
  background-color: rgba(35, 35, 35, 1); /* dark gray */
}

option {
  font-family: 'Raleway', sans-serif;
}

option:first-child[value] {
  font-family: 'Kaushan Script', cursive;
}

/* Websites styles */

#websites {
  background-color: rgba(32, 42, 58, 1); /* dark blue-gray */
  text-align: center;
  margin-bottom: 0;
}

#about {
  background-color: rgba(0, 46, 15, 1); /* dark green */
  margin-top: 0;
}

/* githubRepos styles */

#githubRepos {
  background-color: rgba(0, 46, 15, 1); /* dark green */
  text-align: center;
  margin-bottom: 0;
}

/* About styles */

#about * {
  margin: 1%;
  margin-top: 0;
  margin-bottom: 0;
}

#about h3 {
  font-family: 'Kaushan Script', cursive;
  text-align: right;
}

/* footer styles */

#footer {
  height: 64px;
  color: #fff;
  background-color: rgba(35, 35, 35, 1); /* dark gray */
}

#footer p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}
