@media (min-width: 600px) {
  /* Filter Style */

  select {
    width: 300px;
  }
}

@media (min-width: 800px) {

  /* Header styles */

  .icon-menu {
    display: none;
  }

  .header-nav {
    height: 100px;
    position: fixed;
    width: 100%;
  }

  .header-nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1%;
    clear: both;
    font-size: 150%;
  }

  .header-nav:hover ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 150%;
  }

  li a:hover, a:focus {
    font-size: 150%;
  }

  /* Main Style */

  main {max-width: 800px;}

  /* About Styles */

  #about section {
    display: flex;
    flex-direction: row;
  }

  #about section * {
    padding: 1%;
  }
}
