
header section {
  color: rgba(169, 226, 252, 1); /* light blue */
}

.icon-menu {
  font-size: 300%;
}

.header-nav ul {
  display: none;
}

.header-nav ul a {
    color: #fff;
}

.header-nav ul li:hover a {
    color: rgba(169, 226, 252, 1); /* light blue */
}

.header-nav ul li:active a {
    color: #fff;
}

main {
  background-color: rgba(32, 42, 58, 1); /* dark gray */
}

.template {
  display: none;
}
