header section {
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
}


.icon-menu {
  font-size: 300%;
}

.header-nav ul {
  display: none;
  list-style: none;
}

.header-nav:hover ul {
  display: block;
  font-size: 200%;
}

.header-nav ul a {
  color: #fff;
  text-decoration: none;
  list-style: none;
}

.header-nav ul li:hover a {
    color: #00cfff; /* bright blue */
}

.header-nav ul li:active a {
    color: #fff;
}

main {
  background-color: rgba(32, 42, 58, 1); /* dark gray */
}

.template {
  display: none;
}

article {
  text-align: center;
}

#about {
  background-color: rgba(0, 46, 15, 1); /* dark green */
}

#about h2 {
  font-size: 200%;
  text-align: right;
}
