@media (min-width: 800px) {

  /* Header styles */

  .icon-menu {
    display: none;
  }

  .header-nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1%;
    clear: both;
    font-size: 150%;
  }

  .header-nav:hover ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 150%;
  }

  li a:hover {
    font-size: 200%;
  }

  /* Main Style */

  main {max-width: 800px;}

  /* About Styles */
  
  #about section {
    display: flex;
    flex-direction: row;
  }

  #about section * {
    padding: 1%;
  }
}
